:root {
    --button-style: {
            margin-left: 10px;
            border: none;
            color: #FFC107;
            background: none;
            font-size: 16px;
            padding: 4px;
            cursor: pointer;
            font-weight: bold;
            outline: none;
            &:hover {
                color: #FFEB3B;
                transition: 0.2s;
        }     
    }
}

.block {
    width: 960px;
    margin: auto;
}
.container {
    width: 960px;
    box-shadow: 0px 1px 5px rgba(0,0,0, 0.1);
    margin-top: 20px;
}

.input__text--s {
    outline: none;
    height: 40px;
    width: auto;
    padding: 6px;
    box-sizing: border-box;
    border: none;
    color: #64B5F6;
    font-size: 20px;
    &::placeholder {
        font-size: 16px;
        color: #64B5F6;
        font-size: 20px;
    }
}

.input__button--s {
    @apply --button-style;
}

.chunk {
    margin-top: 10px;
    width: 200px;
    height: auto;
    box-shadow: 0px 1px 5px rgba(0,0,0, 0.1);
    padding: 10px; 
    display: inline-block;
}

.close__btn {
    margin-left: 10px;
    float: right;
    cursor: pointer;
    font-size: 20px;
    width: 15px;
    height: 15px;
    color: lightskyblue;
    &:hover {
        color: black;
        transition: 0.1s;
    }
}

.name__station {
    font-size: 16px;
}

.wi-sm {
    margin-right: 10px;
}

.renderForm {
    margin-bottom: 10px;
    width: auto;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

.left {
    float: left;
    font-size: 20px;
    color: lightskyblue;
}
.name__sity {
    font-size: 20px;
    color: lightskyblue;
}

.name__station {
    color: lightskyblue;
}

.wi-big {
    transform: scale(3);
    float: right;
    color: lightskyblue;
    margin-top: 25px;
    margin-right: 40px;
}

.show__hide {
    font-size: 16px;
    color: lightskyblue;
    cursor: pointer;
    &:hover {
        color: black;
        transition: 0.2s;
    }
}

.timezone__alert {
    float: left;
}

